:root {
    --navBar-bg-color:#8f8f8f;
    --menu-hover-color: #dbdbdb;
    --menu-font-size: 20px;
    --menu-border-color: #4d4d4d;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    background-color: #4291ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

#topNav {
    background-color: var(--navBar-bg-color);
    position: sticky;
}

div.row1, #topNav div.row2 {
    display: flex;
}

div.row2{
    background-color: rgb(213, 71, 213);
    flex-direction: row;
    font-size: var(--menu-font-size);
    justify-content: center;
    align-items: center;
}

.navImg {
    height:20px;
}

.menuIcon {
    padding: 10px 15px;
}

.menuIcon:hover {
    background-color: var(--menu-hover-color);
    transition: 0.3s;
}

#searchImg {
    margin-left:auto;
}

.menuItem {
    padding:10px;
    text-decoration: none;
    color:black;
}


.menuItem:hover {
    color: var(--menu-hover-color);
    font-size: calc(var(--menu-font-size) + 0px);
    transition: 0.3s;
    border-bottom: 5px var(--menu-border-color) inset;
    padding-bottom:5px;
}


@media screen and (max-width: 600px) {

    div.row2 {
        flex-direction: column;
        align-items:unset;
        justify-content:unset;
    }

    .menuItem {
        display:none;
        border-bottom: 1px solid var(--menu-border-color);
    }

    /* div.row2 :nth-child(odd):not(#hovering) {
        background-color:purple;
    } */

    .menuItem:hover {
        background-color: var(--menu-hover-color);
        color:black;
    }

}