/*
body {
    margin:0px;
}


h1 {
    text-align: center;
}

form input, .button {
    padding: 5px;
    margin-bottom: 5%;
    border: none;
}

form input:not(.button) {
    border-bottom: 2px solid red;
    width: 90%;
    height: 30px;
}

.button {
    width: 90%;
}

#form {
    margin: auto;
    width: 60%;
}


#login {
     background-color: red; 
    width: 50%;
    float: left;
    margin: auto;
} 

#register {
     background-color: blue; 
    margin: auto;
    width: 50%;
    float: left;
}

.login-item, .register-item {
    margin-left: 4%;
}
